<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Servlet_usuario</display-name>
    <servlet-name>Servlet_usuario</servlet-name>
    <servlet-class>controlador.Servlet_usuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_usuario</servlet-name>
    <url-pattern>/Servlet_usuario</url-pattern>
  </servlet-mapping>
  <display-name>Proyecto_X</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SV_miembro</display-name>
    <servlet-name>SV_miembro</servlet-name>
    <servlet-class>controlador.SV_miembro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SV_miembro</servlet-name>
    <url-pattern>/SV_miembro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SV_administrador</display-name>
    <servlet-name>SV_administrador</servlet-name>
    <servlet-class>controlador.SV_administrador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SV_administrador</servlet-name>
    <url-pattern>/SV_administrador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SV_foto</display-name>
    <servlet-name>SV_foto</servlet-name>
    <servlet-class>controlador.SV_foto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SV_foto</servlet-name>
    <url-pattern>/SV_foto</url-pattern>
  </servlet-mapping>
</web-app>