*{
    margin: 0%;
    padding: 0%  
    
}



#contenedorPadre{
    background-color: rgb(246, 250, 185);
    height: 100vh;
}



#ContenedorSuperior{
    background-color:rgb(210, 100, 154);
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 0.6fr;
    grid-template-areas:  
    "header"
    "nav";
}



/* Header--------------------------------------------------------- */
header{
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(142, 62, 99);
}


#logo{
    background-color:rgb(142, 62, 99);
    width: 25%;
    height: 100px;
}


#logo img{
    width: 75px;
    padding-top: 2%;
    margin-left: 8%; 
}


/* Titulo central */
#centro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 50%;
}


#centro h1{
    font-size: 26px;
    font-weight: bold;
}



/* Logueo */
#login{
    width: 25%;
    height: 100px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    
}


#fotoPersonal{
    height:50%;  
    width: 20%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-self: center;
}


#personalFoto{
    height:100%;
    margin-right: 10px;
    border-radius: 100%;
    width: 70%;
    border: black solid 3px;
  
}


#desplegable{  
    margin-top: 30px;
    margin-right: 20px;
}




/* Nav ------------------------------------------------------- */
#navegador{
    margin-top: 2%;
    margin-bottom: 1%;
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(210, 100, 154);
    justify-content: space-around;
    height: 60px;
    align-items: center;
}



#BotonNav{
    background-color: rgb(246, 250, 185); /* Color de fondo */
    color: rgb(0, 0, 0);
    width: 200px;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; 
    transition: background-color 0.3s, box-shadow 0.3s; /* Se escurece el boton al pasar por encima */
}



#BotonNav:hover{ /* Hover es una pseudoclase para dar estilos cuando se pasa el cursor por encima del icono. */
    background-color:rgb(159, 183, 138); /* Cambio de color al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra al pasar el cursor */
}




/* Contenedor inferiror---------------------------------------------------- */
#tituloSeccion{
    text-align: center;
    display: flex;
    width: 100%;
    height: 30px; 
    justify-content: center;
    margin-left: 5px;
    margin-top: 40px;
   
   
}



/* Contenedor inferior---------------------------------------------------- */
#ContenedorInferior {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    background-color: rgb(246, 250, 185);
}




/* Contenedor insertar----------------------------------------- */
#cajaFormulario {
    grid-area: cajaFormulario;
    margin-top: 10px;
    height: auto;
    background-color: rgb(202, 230, 178); 
    margin-left: 20px;
    border: 3px solid black;
    border-radius: 5px; 
    width: 400px;
}

h1{
    color: black;
    text-align: center;
}

#listaFormulario {
    list-style: none;
    margin: 16px;
    display: flex;
    flex-direction: column;
   height: auto;
}


#listaFormulario li {
    margin-top: 10px;
}


li input {
    background-color: rgb(246, 250, 185);
    font-size: 22px;
    width: 100%; /* para q los inputs no desborden */
    min-width: 30px;
    font-style: oblique;
    border: 1px solid black;
}


#btnGuardar {
    display: flex;
    justify-content: center;
}


#foto {
    margin-top: 10px;
}


#boton {
    margin-top: 12px;
    border-radius: 5px;
    background-color: #73e17a;
    color: rgb(0, 0, 0); 
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#boton:hover {
    background-color: #2d8b32;
    transition: background-color 0.3s, box-shadow 0.3s;
}



@media all and (max-width:820px){

    /* Para que no se sobreponga el formulario */
    #navegador{
    margin-top: 2%;
    margin-bottom: 1%;
    grid-area: nav;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(210, 100, 154);
    justify-content: space-around;
    height: 60px;
    align-items: center;
}



    #BotonNav{
    background-color: rgb(246, 250, 185); /* Color de fondo */
    color: rgb(0, 0, 0);
    height: 25px;
    width: 100px;
    padding: 15px 32px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 8px; 
    transition: background-color 0.3s, box-shadow 0.3s; /* Se escurece el boton al pasar por encima */
    display: flex;
    justify-content: center;
   
}



}