*{
    margin: 0%;
    padding: 0%  
    
}


#contenedorPadre{
    background-color: rgb(246, 250, 185);
    height: 100vh;
}


#contenedorSup{
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 0.6fr;
    grid-template-areas:  
    "header"
    "nav";
    background-color:rgb(210, 100, 154);
}



/* Header--------------------------------------------------------- */
header{
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(142, 62, 99);
}


#logo{
    background-color:rgb(142, 62, 99);
    width: 25%;
    height: 100px;
}


#logo img{
    width: 75px;
    padding-top: 2%;
    margin-left: 8%; 
}


/* Titulo central */
#centro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 50%;
}

#centro h1{
    font-size: 26px;
    font-weight: bold;
}



/* Logueo */
#login{
    width: 25%;
    height: 100px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    
}


#fotoPersonal{
    height:50%;
    
    width: 20%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-self: center;
}


#personalFoto{
    height:100%;
    margin-right: 10px;
    border-radius: 100%;
    width: 70%;
    border: black solid 3px;
  
}


#desplegable{  
    margin-top: 30px;
    margin-right: 20px;
}





/* Nav ------------------------------------------------------- */
#navegador{
    margin-top: 2%;
    margin-bottom: 1%;
    grid-area: nav;
    display: flex;
    background-color:rgb(210, 100, 154);
    justify-content: space-around;
    height: 60px;
    align-items: center;  
}


#BotonNav{
    background-color: rgb(246, 250, 185); 
    color: rgb(0, 0, 0);
    width: 200px;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; 
    transition: background-color 0.3s, box-shadow 0.3s; /* Se escurece el boton al pasar por encima */
}


#BotonNav:hover{ /* Hover es una pseudoclase para dar estilos cuando se pasa el cursor por encima del icono. */
    background-color:rgb(159, 183, 138); /* Cambio de color al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra al pasar el cursor */
}






/* Contenedor inferior -----------------------------------*/

/* Tabla  */
#contenedorInf{
    background-color:rgb(202, 230, 178);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 72%;
}s


#tituloSeccion{
    position: relative;
    z-index: 1;
    font-size: 40px;
    margin-top: 50px;
}


#listado{/* Lo que se pinta desde */
    width: 70%;
}


#tabla{
    background-color: rgb(246, 250, 185);
    border: solid 3px rgb(0, 0, 0);
    display: flex;
    padding: 10px;
    position: relative;
    z-index: 1; /* Para que quede por encima del #fondoTabla */
    overflow: scroll;/* Para hacer scroll en la tabla */
    max-height: 460px;
    border-radius: 10px;
    width: 100%;
}



/* Encabezado tabla */
th{
    padding: 10px;
    border: 4px solid black;
    font-weight: bold;
    font-size: 20px;
    background-color:rgb(206, 156, 180);
}



/* Celdas con datos */
td{
    font-size: 17px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 2px black solid;
    width: 150px;
}


tr{/* Filas */
    background-color:rgb(202, 230, 178);
}


#id{
    background-color: rgb(239, 239, 99);
    font-size: 17px;
}


#imagen{
    height: 40px;
    width: 50px;
    border-radius: 5x;
}



/* Botón editar */
#btnEdit{
    height: 40px;
    width: 60px;
    background-color: rgb(226, 226, 148);
    cursor: pointer;
}


#btnEdit:hover{
    background-color:rgb(222, 177, 31); ;
}



/* Botón borrar */ 
#btnBorr{
    height: 40px;
    width: 60px;;
    background-color: rgb(236, 161, 161);
    cursor: pointer;
}


#btnBorr:hover{
    background-color: rgb(222, 25, 25);
}



/* Botónm Insertar NUEVO administrador */
#ContenedorBotonInsertar{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    position: relative; 
}


#ContenedorBotonInsertar input{
    width: 300px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}


#ContenedorBotonInsertar input:hover{
    background-color: yellow;
    border: black solid 3px;
}


@media all and (max-width: 600px) {
    #BotonNav{
        background-color: rgb(246, 250, 185); 
        color: rgb(0, 0, 0);
        width: 160px;
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        border-radius: 8px; 
        transition: background-color 0.3s, box-shadow 0.3s; /* Se escurece el boton al pasar por encima */
    }
}