*{
    margin: 0%;
    padding: 0%;
    
    
}


#contenedorPadre {
    display: flex;
    flex-direction: column;
    
}


/* contSUP-------------------------------------- */
#contenedorSup{
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 0.6fr;
    grid-template-areas:  
    "header"
    "nav";
    
}


/* Header--------------------------------------------------------- */
header{
    grid-area: header;
    display: flex;
    background-color: rgb(86, 83, 225);

}


#logo{
   background-color: rgb(86, 83, 225);
    width: 35%;
    height: 100px;

}

#logo img{
    width: 75px;
    padding-top: 2%;
    margin-left: 8%;
    
    
}



/* Titulo central */
#centro{
    
    width: auto;
    height: 100px;
    width: 35%;
   
}

#centro h1{
    text-align: center;
    margin-top:30px;
}



/* Logueo */
#login{
    
    width: 35%;
    height: 100px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
   
}

#fotoPersonal img{
    height:90px;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 100%;
}

#desplegable{
    margin-right: 20px;
    margin-top: 10px;

}





/* Nav ------------------------------------------------------- */
#navegador{
    grid-area: nav;
    display: flex;
    background-color: rgb(250, 250, 250);
    justify-content: space-around;
    height: 60px;
    align-items: center;
   
}

#BotonNav{
    background-color: #4CAF50; /* Color de fondo */
    color: rgb(242, 242, 242);
    width: 200px;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; 
    transition: background-color 0.3s, box-shadow 0.3s; /* Se escurece el boton al pasar por encima */
}


#BotonNav:hover{ /* Hover es una pseudoclase para dar estilos cuando se pasa el cursor por encima del icono. */
    background-color: #2d8b32; /* Cambio de color al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra al pasar el cursor */
}




/* Contenedor inferior */

/* Tabla --------------------------------------------- */

#contenedorInf{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.fondoTabla{
    background-color: rgb(7, 81, 46);
    height: 460px;
    width: 900px;
    position: absolute;
    z-index: 0;
   border: black solid 3px;

}

#tabla{
    background-color: rgb(40, 191, 120);
    border: solid 3px rgb(0, 0, 0);
    display: flex;
    padding: 10px;
    position: relative;
    z-index: 1;
    overflow: scroll;/* Para hacer scroll en la tabla */
    max-height: 460px;
    border-radius: 10px;
}

/* Encabezado tabla */
th{
    padding: 10px;
    border: 4px solid black;
    font-weight: bold;

    font-size: 20px;
}

/* Celdas con datos */
td{
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 2px black solid;

}

tr{
    border: 3px solid black;
    background-color: #6cef70;
}


#id{
    background-color: rgb(210, 210, 88);
}

#imagen{

    height: 40px;
    width: 40px;
    border-radius: 20px;
}

#btnEdit{
    height:25px;
    width: 40px;
    background-color: yellow;
}

#btnBorr{
    height:25px;
    width: 40px;
    background-color: rgb(230, 98, 98);
}