*{
    margin: 0%;
    padding: 0%  
    
}



#contenedorPadre{
    background-color:rgb(71, 147, 175);
    height: 100vh;
}



#ContenedorSuperior{
    background-color: rgb(221, 87, 70);
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 0.6fr;
    grid-template-areas:  
    "header"
    "nav";
}



/* Header--------------------------------------------------------- */
header{
    grid-area: header;
    display: flex;
    background-color:rgb(255, 196, 112);
    flex-wrap: wrap;
}


#logo{
    background-color:rgb(255, 196, 112);
    width: 25%;
    height: 100px;
}


#logo img{
    width: 75px;
    padding-top: 2%;
    margin-left: 8%;
}



/* Titulo central */
h1{
    color:rgb(139, 50, 44) ;

}


#centro{
    height: 116px;
    width: 50%;
   
}


#centro h1{
    text-align: center;
    margin-top:30px;
}


/* Logueo */
#iniciarSesion{/* Contenedor boton inicias sesión  */
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#btnRegistro{
    width: 120px;
    height: 30px;
    cursor: pointer;
    background-color:rgb(71, 147, 175);

}



/* Nav ------------------------------------------------------- */
#navegador{
    margin-top: 2%;
    margin-bottom: 1%;
    grid-area: nav;
    display: flex;
    background-color: rgb(221, 87, 70);
    justify-content: space-around;
    height: 60px;
    align-items: center;
}



#BotonNav{
    background-color: rgb(246, 250, 185); /* Color de fondo */
    color: rgb(0, 0, 0);
    width: 200px;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; 
    transition: background-color 0.3s, box-shadow 0.3s; /* Se escurece el boton al pasar por encima */
}



#BotonNav:hover{ /* Hover es una pseudoclase para dar estilos cuando se pasa el cursor por encima del icono. */
    background-color:rgb(159, 183, 138); /* Cambio de color al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra al pasar el cursor */
}




/* Login----------------------------------------------------- */


#contenedorLogin form{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#contenedorLogin{
    width: 100%;
    height: 75vh;
    background-color:rgb(71, 147, 175);
    display: flex;
    align-items: center;
    justify-content: center;
}



#login{
    width: 30%;
    height: 30%;
    background-color:rgb(255, 196, 112);
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 16px solid rgb(224, 129, 116);

}


#login li{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}


label{/* Etiquetas de las cajas */
    margin-top: 10px;
    font-size: 26px;
}


#login input{/* Cajas de texto */
    width: 50%;
    height: 40%;
    padding-left:  10px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#btnEntrar{/* Boton entrar */
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(84, 172, 172);
}