*{
    margin: 0%;
    padding: 0%  
}

#contenedorPadre{
height: 300px;
}

#contenedorSup{
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1/2fr;
    grid-template-areas:  
    "header"
    "nav"
    ;
    
}


/* Header--------------------------------------------------------- */
header{
    grid-area: header;
    display: flex;

}


#logo{
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 100px;

}

#logo img{
    width: 75px;
    padding-top: 2%;
    margin-left: 8%;
    
    
}


/* Titulo central */
#centro{
    
    height: 100px;
    width: 35%;
   
}

#centro h1{
    text-align: center;
    margin-top:30px;
}



/* Logueo */

#login{
    
    width: 35%;
    height: 100px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
   
}

#fotoPersonal img{
    height:90px;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 100%;
}

#desplegable{
    margin-right: 20px;
    margin-top: 10px;

}



/* nav ------*/

nav{
    grid-area: nav;
    background-color: blueviolet;
    height: 60px;
}



/* Contenedor inferior----------------------------------------- */

#contenedorInferior{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "contenedorFoto contenedorDatos contenedorDatos"
   
    ;

}


#contenedorFoto{
    grid-area: contenedorFoto;
    height: 450px;
    width: 460px;
    margin-left:10px ;
    
}

#contenedorFoto img{
    background-color: black;
    height: 450px;
    width: 460px;
    border-radius:25px ;
   
}



#contenedorDatos{
    border: 3px black solid;
    background-color: rgb(147, 147, 195);
    grid-area:contenedorDatos; 
    width: 95%;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fe 1fr 1fr 1fr;
    grid-template-areas:
    "nombre categoria" 
    "telefono direccion"
    "descripcion descripcion"
    "descripcion descripcion"
    "descripcion descripcion"
    ;

}


#nombreDep{
    grid-area: nombre;
    font-size: 50px;
    width: 95%;
    height: 40px;
    padding-left: 10px;
    padding-bottom: 20px;
    
}


/* CATEGORÍA */
#categoriaDep{
    grid-area: categoria;
    font-size:30px ;
    margin-top: 25px;

}

#textCat{
    grid-area: categoria;
    color: rgb(233, 233, 92);
}


/* DIRECCIÓN */
#direccionDep{
    grid-area: direccion ;
    margin-top: 30px;
    font-size: 20px;
}

#textDir{
    grid-area: direccion ;
    color: rgb(233, 233, 92);

}


/* TELÉFONO */
#telefonoDep{
    grid-area: telefono;
    margin-top: 30px;
    margin-left: 8px;
    font-size: 20px;
}

#textTel{
    grid-area: telefono;
    color: rgb(233, 233, 92);
    padding-left: 8px;
    
}


/* DESCRIPCIÓN */
#descripcionDep{
    grid-area: descripcion;
    margin-left: 8px;
    margin-right: 10px;
    font-size: 20px;
    border-top: 3px black solid;
}


/* Footer---------------------------- */
footer{
    
    display: grid;
    margin-top: 20px;
    height: 60px;
    background-color: yellow;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". siglas mail politicaPriv infoLegal .";
    
}

#siglas{ 
    grid-area: siglas ;
    justify-content: center;
    color: rgb(42, 42, 152);
    font-weight: bold;/* negrita */
}

#mail{
    grid-area: mail ;
    justify-content: center;
}

#imgMail{
    height: 30px;
    width: 40px;
    justify-content: center;
}

#politicaPriv{
    grid-area: politicaPriv;
    justify-content: center;
}

#infoLegal{
    grid-area: infoLegal;
    justify-content: center;
}

#siglas, #mail, #politicaPriv, #infoLegal {
    display: flex; /* Asegura que el contenido se alinee horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}